* {
    margin: 0;
    padding: 0;
}
body {
    background: black;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 5px;

}
.container1{
    width: 25vw;
    /* border: 2px solid red; */
}
.container2{
    width: 75vw;
    position: relative;
    /* border: 2px solid red; */
}
.container .home{
display: flex;
flex-direction: column;
gap: 15px;
}
.home ul{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 10px;
}
.home ul img{
    width: 25px;

}
.home ul li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: left;
}
.lib{
    color: white;
    min-height: 80vh;
    position: relative;
}
.lib ul li img{
    width: 25px;
}
.lib ul{
    display: flex;
    /* align-items: center; */
    gap: 10px;
} 
.lib ul li{
list-style: none;

}
.footer{
    display: flex;
    font-size: 10px;
    gap: 12px;
    position: absolute;
    bottom: 0;
    flex-wrap: wrap;

    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}
.nav img{
    width: 45px;

}
.nav{
    display: flex;
    gap: 5px;
}
.button{
    display: flex;
    gap: 20px;
    color: black;
}
.button button{
    width: 120px;
    border-radius: 23px;
    height: 45px;
    border: 1px solid white;
    background-color: white;
    font-size: medium;
    font-weight: bolder;

}

::-webkit-scrollbar{
    display: none;
}

.cardContainer{
    padding: 15px;
    display: flex;
    justify-content:start;
    gap: 50px;
    flex-wrap: wrap;
    max-height: 70vh;
    overflow: scroll;
    overflow-x: hidden;
    align-items: center;
}

.card img{
    width: 100%;
    object-fit: contain;
}
.card{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;
    width: 180px;
    background-color: #2a2b2b;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;

}
.spotifyPlayList{
    display: flex;
    flex-direction: column;
    background-color: #121212;

}

.spotifyPlayList h2{
    color: white;
    padding: 15px;
}
.playbar img{

    width: 45px;
    height: 40px;
    filter: invert(1);
    background-color: white;
}

.playbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
    gap: 30px;
}
.all_songs{
    display: flex;
}
.all_songs ul{
display: flex;
flex-direction: column;
justify-content: flex-start;
}
.all_songs ul li{
    font-size: medium;
 
}
#m_img{
    filter: invert(1);
}
.cardcontainer{
    display: flex;
    gap: 20px;
    border: 2px solid white;
    padding: 10px;
}
.info{
    display: flex;

    flex-direction: column;

    gap: 5px;
    
}
#play_img{
    filter: invert(1);
}
.playnow{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.all_songs{
    height: 300px;
    overflow-y: scroll;
}